<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-product-in-order-main-heading"
        data-cy="ProductInOrderMainCreateUpdateHeading"
        jhiTranslate="shopApp.productInOrderMain.home.createOrEditLabel"
      >
        Kreirajte ili izmenite Product In Order Main
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="shopApp.productInOrderMain.category" for="field_category">Category</label>
          <input type="text" class="form-control" name="category" id="field_category" data-cy="category" formControlName="category" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="shopApp.productInOrderMain.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="shopApp.productInOrderMain.quantity" for="field_quantity">Quantity</label>
          <input type="number" class="form-control" name="quantity" id="field_quantity" data-cy="quantity" formControlName="quantity" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="shopApp.productInOrderMain.priceNet" for="field_priceNet">Price Net</label>
          <input type="number" class="form-control" name="priceNet" id="field_priceNet" data-cy="priceNet" formControlName="priceNet" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="shopApp.productInOrderMain.vat" for="field_vat">Vat</label>
          <input type="number" class="form-control" name="vat" id="field_vat" data-cy="vat" formControlName="vat" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="shopApp.productInOrderMain.priceGross" for="field_priceGross">Price Gross</label>
          <input
            type="number"
            class="form-control"
            name="priceGross"
            id="field_priceGross"
            data-cy="priceGross"
            formControlName="priceGross"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="shopApp.productInOrderMain.totalPriceNet" for="field_totalPriceNet"
            >Total Price Net</label
          >
          <input
            type="number"
            class="form-control"
            name="totalPriceNet"
            id="field_totalPriceNet"
            data-cy="totalPriceNet"
            formControlName="totalPriceNet"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="shopApp.productInOrderMain.totalPriceGross" for="field_totalPriceGross"
            >Total Price Gross</label
          >
          <input
            type="number"
            class="form-control"
            name="totalPriceGross"
            id="field_totalPriceGross"
            data-cy="totalPriceGross"
            formControlName="totalPriceGross"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="shopApp.productInOrderMain.stock" for="field_stock">Stock</label>
          <input type="number" class="form-control" name="stock" id="field_stock" data-cy="stock" formControlName="stock" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="shopApp.productInOrderMain.description" for="field_description">Description</label>
          <textarea
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          ></textarea>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="shopApp.productInOrderMain.image" for="field_image">Image</label>
          <div>
            <img
              [src]="'data:' + editForm.get('imageContentType')!.value + ';base64,' + editForm.get('image')!.value"
              style="max-height: 100px"
              *ngIf="editForm.get('image')!.value"
              alt="productInOrderMain image"
            />
            <div *ngIf="editForm.get('image')!.value" class="form-text text-danger clearfix">
              <span class="pull-start">{{ editForm.get('imageContentType')!.value }}, {{ byteSize(editForm.get('image')!.value!) }}</span>
              <button
                type="button"
                (click)="clearInputImage('image', 'imageContentType', 'file_image')"
                class="btn btn-secondary btn-xs pull-end"
              >
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
            <input
              type="file"
              id="file_image"
              data-cy="image"
              (change)="setFileData($event, 'image', true)"
              accept="image/*"
              jhiTranslate="entity.action.addimage"
            />
          </div>
          <input type="hidden" class="form-control" name="image" id="field_image" data-cy="image" formControlName="image" />
          <input
            type="hidden"
            class="form-control"
            name="imageContentType"
            id="field_imageContentType"
            formControlName="imageContentType"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="shopApp.productInOrderMain.productId" for="field_productId">Product Id</label>
          <input type="number" class="form-control" name="productId" id="field_productId" data-cy="productId" formControlName="productId" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="shopApp.productInOrderMain.orderMain" for="field_orderMain">Order Main</label>
          <select
            class="form-control"
            id="field_orderMain"
            data-cy="orderMain"
            name="orderMain"
            formControlName="orderMain"
            [compareWith]="compareOrderMain"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="orderMainOption" *ngFor="let orderMainOption of orderMainsSharedCollection">{{ orderMainOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Otkaži</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Sačuvaj</span>
        </button>
      </div>
    </form>
  </div>
</div>
